
header{
    nav{
        
        ul{
            li{
                a{

                font-style:italic;
                font-size: 15px;
                color:rgb(15, 14, 14);

                }
            }
        }
    }
}
div{
    header{
        nav{
            display:flex;
            flex-direction:row;
            justify-content:baseline;
            align-items:flex-start;
            background-color: rgb(25, 65, 25); 

        }
    }
}
