
header{
    nav{
        ul{
            li{
                a{

                font-style:italic;
                font-size: 15px;
                color:rgb(15, 14, 14);

                }
            }
        }
    }
}